aiofiles==24.1.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
Brotli==1.1.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
clipman==3.2.3
colorama==0.4.6
curl_cffi==0.7.1
distro==1.9.0
distutils-pytest==0.2.1
docstring-inheritance==2.2.0
edge-tts==6.1.11
enum34==1.1.10
filelock==3.15.4
Flask==3.0.3
frozenlist==1.4.1
g4f==0.3.2.2
GoogleBard1==2.1.4
googlesearch-python==1.2.4
groq==0.5.0
h11==0.14.0
h2==4.1.0
halo==0.0.31
Helpingai-T2==0.5
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
hyperframe==6.0.1
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
log-symbols==0.0.14
loguru==0.7.2
lxml==5.2.2
markdown-it-py==2.2.0
markdownify==0.13.1
MarkupSafe==3.0.1
mdurl==0.1.2
multidict==6.0.5
nest-asyncio==1.6.0
NetHyTech-STT==1.0
numpy==2.0.1
opencv-python==4.9.0.80
orjson==3.10.6
outcome==1.3.0.post0
packaging==24.1
playsound==1.2.2
pluggy==1.5.0
poe-api-wrapper==1.6.0
prompt_toolkit==3.0.47
pvporcupine==1.9.5
PyAudio==0.2.14
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pygame==2.5.2
Pygments==2.18.0
pyreqwest_impersonate==0.5.3
PySocks==1.7.1
pytest==8.3.3
python-dotenv==1.0.1
PyYAML==6.0.1
quickjs==1.19.4
regex==2024.7.24
requests==2.31.0
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==13.3.4
selenium==4.23.1
setuptools==75.1.0
six==1.16.0
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.5
spinners==0.0.24
srt==3.5.3
sse-starlette==2.1.2
starlette==0.38.1
termcolor==2.4.0
tiktoken==0.7.0
tldextract==5.1.2
tls-client==1.0.1
tqdm==4.66.4
trio==0.26.0
trio-websocket==0.11.1
typing_extensions==4.12.2
undetected-chromedriver==3.5.5
urllib3==2.2.2
uvicorn==0.30.3
vosk==0.3.45
wcwidth==0.2.13
webdriver-manager==4.0.2
webscout==2.9
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.4
win32-setctime==1.1.0
wsproto==1.2.0
yarl==1.9.4
